<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

<a href="http://localhost/Ubimania/public/index.php/inscription/confirmation/{{ user.confirmationToken }}">Valider</a>

</body>
</html>