/* DIVERS */
select
{
    display: inherit !important;
}

.flash-success
{
    background: #7cb342;
    color: white;
    padding: 25px 0;
    margin-bottom: 30px;
}

body
{
    background-color: #eceff1;

}

strong
{
    font-weight: 700 !important;
}

/* FROALA EDITEUR */
div.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img {
    display: none !important;
}

div.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img {
    -webkit-transform: translateY(-50%) translateX(-50%) !important;
    -moz-transform: translateY(-50%) translateX(-50%) !important;
    -ms-transform: translateY(-50%) translateX(-50%) !important;
    -o-transform: translateY(-50%) translateX(-50%) !important;
}

.fr-view img
{
    max-width: 100% !important;
}
/* CONTAINER */
.container
{
    margin-top: 35px;
    min-height: 80vh !important;
    padding: 40px 30px;
}

/* MENTIONS */
.mentions
{
    background: white;
    border-radius: 10px;
    padding: 25px !important;
}

.mentions h1
{
    font-size: 1.8em;
    margin-bottom: 25px;
}

.mentions h3
{
    font-size: 1.4em;
    margin-bottom: 20px;
}

.mentions p
{
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 15px;
}

/* NAVIGATION */
nav
{
    background: linear-gradient(to top, #303f9f, #7986cb ) !important;
    background:-moz-linear-gradient(to top, #303f9f, #7986cb ) !important;
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb ) !important;
    background:-o-linear-gradient(to top, #303f9f, #7986cb ) !important;
}


.brand-logo
{
    font-family: 'Chewy', cursive;
}

ul#dropdown1, ul#dropdown2
{
    margin-top: 64px !important;
    background: linear-gradient(to bottom, #303f9f, #7986cb );
    background:-moz-linear-gradient(to bottom, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to bottom, #303f9f, #7986cb );
    background:-o-linear-gradient(to bottom, #303f9f, #7986cb );
    top: 0 !important;
}

.nav-titre-reseauxSociaux
{
    height: 50px;
    color: white;
    border-top: 1px solid white;
}

.nav-titre
{
    margin: 0 !important;
    font-size: 1.5em !important;
    position: absolute;
    left: 38%;
}

.navbar-wrapper
{
    position: relative;
}

.nav-wrapper ul li a
{
    max-height: 64px;
}

.nav-wrapper ul li img
{
    max-height: 24px;
    max-width: 24px;
    margin-top: 20px;
}

.nav-follow
{
    margin-left: 15px;
}

/* FOOTER */

.page-footer
{
    background: linear-gradient(to top, #303f9f, #7986cb) !important;
    background:-moz-linear-gradient(to top, #303f9f, #7986cb ) !important;
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb ) !important;
    background:-o-linear-gradient(to top, #303f9f, #7986cb ) !important;
}

.footer-reseaux
{
    margin-bottom: 15px;
}

.footer-reseaux ul li
{
    display: inline-block;
    margin-right: 5px;
}

.footer-reseaux ul li img
{
    max-height: 24px;
    max-width: 24px;
}

.footer-links
{
    width: 15%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.footer-links a
{
    color: white;
}

.footer-links ul
{
    display: flex;
    justify-content: space-between;
}

.footer-copy
{
    padding-bottom: 15px;
}

/* NEWSLETTER */
.newsletter
{
    margin-top: 25px;
    background: white;
    border-radius: 10px;
}

.newsletter-titre
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    color: white;
    text-align: center;
    height: 25px;
    font-size: 1.15em;
    font-weight: bold;
    padding-top: 2px;
    border-radius: 10px 10px 0 0;
}

.newsletter-block
{
    padding: 15px;
}

.newsletter-text
{
    text-align: justify;
    font-size: 0.9em;
}

.newsletter-form
{
    margin-top: 15px;
}

.newsletter-acceptTerms
{
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 15px;
}

.newsletter label
{
    font-size: 1.1em;
    color: black !important;
}

.newsletter input
{
    border: 1px solid black !important;
}

.newsletter .btn
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
}

/* ========= INDEX ============*/

.index-description
{
    padding: 10px 15px;
    border-radius: 10px;
    background: #b0bec5;
    text-align: center;
    color: white;
}

.index-description p
{
    line-height: 1.5em;
}

.block-etude
{
    background: white;
    border-radius: 10px;
}

.etude-list
{
    border-top: 1px solid grey;
    padding: 15px 10px;
    transition: 0.5s;
    height: 180px;
    max-height: 180px;
    position: relative;
    color: black;
}

.block-etude a:first-of-type div
{
    border-top: none;
}

.etude-list h3
{
    font-size: 1.8em;
    height: 100px;
    color: #303f9f;
}

.etude-comments
{
    position: absolute;
    bottom: 5px;
}

.etude-categorie
{
    position: absolute;
    left: -15px;
    top: 20px;
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    color: white;
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
}

.etude-categorie::after
{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 8px solid black;
    border-left: 15px solid transparent
}

.etude-list:hover
{
    background: #eceff1;
}


.etude-list .etude-img img
{
    width: 150px;
}

.last-actu
{
    border-radius: 10px;
}

.last-actu .last-actu-label
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    color: white;
    height: 25px;
    font-size: 1.15em;
    font-weight: bold;
    padding-top: 2px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.last-actu .last-actu-content
{
    background: white;
    padding: 15px 10px;
    color: black;
    transition: 0.5s;
}

.last-actu .last-actu-content:hover
{
    background: #eceff1;
}

.last-actu .last-actu-content h3
{
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #303f9f;
}

.last-actu .last-actu-content p
{
    text-align: justify;
    line-height: 1.4em;
}

.last-actu .last-actu-link
{
    background: #cfd8dc;
    height: 20px;
    font-size: 1.1em;
    text-align: center;
    padding-top: 1px;
    border-radius: 0 0 10px 10px;
}

.last-actu .last-actu-link a
{
    color: black;
    transition: 0.5s;
}

.last-actu .last-actu-link a:hover
{
    color: #42a5f5;
}

.all-cat
{
    border-radius: 10px;
    margin-top: 25px;
}

.all-cat .all-cat-label
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    color: white;
    height: 25px;
    font-size: 1.15em;
    font-weight: bold;
    padding-top: 2px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.all-cat .all-cat-content
{
    background: white;
    padding: 15px 10px;
    color: black;
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.all-cat .all-cat-content a
{
    color: black;
    transition: 0.5s;
    padding: 0 10px;
    margin-bottom: 10px;
}

.all-cat .all-cat-content a:hover
{
    color: #303f9f;
    font-size: 1.05em;
}

.etudes-view-all
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    padding: 15px 0 15px 0;
    border-radius: 0 0 10px 10px;
}

.etudes-view-all a
{
    color: white;
    transition: 0.5s;
}

.etudes-view-all a:hover
{
    color: #bbdefb;
}

/* AJOUT ETUDE */
.proposer-etude-form
{
    background: white;
    border-radius: 10px;
    padding: 20px !important;
    margin-top: 35px;
}

.proposer-etude-form h1
{
    font-size: 1.8em !important;
    font-weight: bold;
    margin-bottom: 20px !important;
    color: #303f9f;
}

.proposer-etude-form input, .proposer-etude-form textarea
{
    background: rgba(255, 255, 255, 0.75) !important;

}

.proposer-etude-form label
{
    color: black !important;
}

.proposer-etude-divider
{
    margin-top: 20px;
    margin-bottom: 20px;
}


.proposer-etude-divider a
{
    background: linear-gradient(to top, #81d4fa, #e1f5fe);
    background:-moz-linear-gradient(to top, #81d4fa, #e1f5fe );
    background:-webkit-linear-gradient(to top, #81d4fa, #e1f5fe );
    background:-o-linear-gradient(to top, #81d4fa, #e1f5fe );
    padding: 5px 10px;
    color: black;
}

.proposer-etude-description p:nth-child(1)
{
    margin-top: 25px;
}

.proposer-etude-description p, .proposer-etude-description ul
{
    margin-bottom: 15px;
    line-height: 1.6em;
    text-align: justify;
}

.proposer-etude-description ul li
{
    list-style-type: initial !important;
    margin-left: 5% !important;
    line-height: 1.6em;
}

.proposer-etude-form .btn
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
}

.proposer-etude-hr
{
    margin-bottom: 25px;
}

#cke_1_path
{
    display: none;
}

.proposer-etude-form .ck-content
{
    min-height: 150px !important;
    background: rgba(255, 255, 255, 0.75) !important;
}

.proposer-etude-bold
{
    font-weight: bold;
}

/* VIEW ETUDE */

.view-etude
{
    background: white;
    border-radius: 10px;
    padding: 20px 15px;
    position: relative;
}

.view-etude-first
{
    display: flex;

}

.view-etude-first img
{
    width: 250px;
}

.view-etude-first .view-etude-main
{
    padding-left: 20px;
}

.view-etude-first .view-etude-main h1
{
    font-size: 1.6em;
    font-weight: bold;
    color: #303f9f;
    margin: 15px 0;
}

.view-etude-sources
{
    font-size: 0.7em;
}

.view-etude-sources ul
{
    margin-top: 10px;
    margin-left: 20px;
}

.view-etude .fb-like span
{
    vertical-align: inherit !important;
}

.view-etude-text
{
    padding-top: 20px;
    border-top: 1px solid grey;
    text-align: justify;
    margin-top: 20px;
}

.view-etude-text p
{
    line-height: 1.4em;
    font-size: 1.1em;
}

.view-etude-text ul
{
    margin-bottom: 15px;
}

.view-etude-text ul li
{
    list-style-type: initial !important;
    line-height: 1.2em;
    margin-left: 25px;
}

.view-etude-refus
{
    padding: 25px 15px !important;
    background: white;
    border-radius: 10px;
}


.view-etude-refus h3
{
    color: #ef5350;
    font-size: 1.4em !important;
    font-weight: bold;
}


.refus-remerciement p
{
    font-size: 0.8em;
    font-style: italic;
}

.pagination
{
    margin-top: 25px;
}

.pagination li.active
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    color: white;
}

/* ACTUALITE */
.all-actu, .actu
{
    margin-bottom: 25px;
    border-radius: 10px;
    background: white;
}

.all-actu-date
{
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.all-actu-titre
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    border-radius: 10px 10px 0 0;

}

.all-actu-titre h3, .actu-titre h3
{
    font-size: 1.4em !important;
    font-weight: bold;
    color: white;
}


.all-actu-texte, .actu-texte
{
    text-align: justify;
    padding: 20px 15px !important;
}

.all-actu-texte p
{
    font-size: 1.1em;
}

.all-actu-texte a
{
    border-radius: 15px;
    border: 1px solid #81d4fa;
    font-size: 0.8em;
    color: #81d4fa;
    padding: 5px;
    transition: 0.5s;
}

.all-actu-texte a:hover
{
    background: #81d4fa;
    color: white;
}

.all-actu-texte, .all-actu-titre, .actu-texte, .actu-titre
{
    padding: 10px 5px;
    line-height: 1.4em;
}

.actu-actions
{
    padding-left: 15px;
}

.actu-actions .fb-like span
{
    vertical-align: inherit !important;
}

.last-five-actu .last-actu-content
{
    border-bottom: 1px solid grey;
}

/* COMMENTAIRES */
.block-comments
{
    background: white;
    padding: 25px 15px;
    border-radius: 10px;
}

.bandeau-comments
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 15px 0;
    margin-bottom: 25px;
}

.bandeau-comments a
{
    color: white;
}

.block-comments .btn
{
    margin-top: 25px;
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
}

.all-comments
{
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

.all-comments:nth-child(odd)
{
    border: 1px solid #303f9f;
    background: rgba(121, 134, 203, 0.2);
}

.all-comments:nth-child(even)
{
    border: 1px solid #7986cb;
}

.all-comments-infos
{
    border-bottom: 1px dashed grey;
    padding-bottom: 10px;
}

.all-comments-texte
{
    padding-top: 10px;
}

.all-comments-texte em
{
    color: grey;
}

.signale
{
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgba(255, 0 , 0 , 0.3);
}

.signale:hover
{
    color: red;
}

.block-comments-instructions
{
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid grey;
    padding-top: 15px;
}

/* SECURITY */
.security-form
{
    background: white;
    border-radius: 10px;
    padding: 20px !important;
}

.security-form h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 25px;
    color: #303f9f;
}

.security-form-infos
{
    padding: 15px 10px;
}

.security-form-infos p
{
    text-align: justify;
}

.security-form-infos p:nth-child(1)
{
    margin-bottom: 15px;
}

.security-form .input-field
{
    margin-top: 35px !important;
    margin-bottom: 15px;
}

.security-form label
{
    color: black !important;
}

.security-form input
{
    background: rgba(255, 255, 255, 0.75) !important;
}

.security-form .btn
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
}

.security-form-terms
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.security-form .forgot-password
{
    margin-top: 20px;
}

.registration-confirm
{
    background: white;
    border-radius: 10px;
    padding: 25px;
}

.registration-confirm h1
{
    font-size: 1.5em;
    margin-bottom: 25px;
}

.registration-confirm p
{
    margin-bottom: 15px;
}

/* DASHBOARD */
.dashboard-section
{
    padding: 35px !important;
}

.dashboard-section h1
{
    font-size: 2em;
    margin-bottom: 35px;
}

.dashboard-infos
{
    padding: 15px !important;
    margin-right: 15px;
    background: white;
    border-radius: 10px;
}

.dashboard-infos h2
{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 25px;
}

.dashboard-infos span
{
    font-weight: bold;
    margin-right: 15px;
    text-align: right;
    width: 9rem;
    display: inline-block;
}

.dashboard-infos p
{
    line-height: 1.6em;
}

.dashboard-infos .btn
{
    margin-top: 10px;
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
}

.dashboard-etudes
{
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 15px !important;
    background: white;
    border-radius: 10px;
}

.dashboard-etudes h3
{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 25px;
}

.dashboard-etudes-table tbody tr td
{
    padding-top: 15px !important;
}

.etudes-attente
{
    margin-right: 15px !important;
}

.tooltipped:hover
{
    cursor: pointer;
}

.dashboard-lien-suppr
{
    background: white;
    padding: 15px;
}

.dashboard-lien-suppr p:first-of-type
{
    margin-bottom: 10px;
}

.dashboard-suppr-compte
{
    background: white;
    padding: 25px !important;
    text-align: center;
}

.dashboard-suppr-compte h1
{
    font-size: 1.6em;
    color: #303f9f;
    margin-bottom: 25px;
}

.dashboard-suppr-compte p
{
    line-height: 1.6em;
}

.dashboard-suppr-compte .btn
{
    margin-top: 25px;
    background: rgba(255, 0, 0, 0.3);
}

.dashboard-suppr-compte .btn:hover
{
    background: red;
}
/* EDIT PROFIL */
.edit-profil
{
    background: white;
    padding: 25px 15px !important;
    border-radius: 10px;
}

.edit-profil h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 75px !important;
    color: #303f9f
}

.edit-profil .btn
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    margin-top: 25px;
}

.edit-profil .input-field
{
    margin-top: 35px;
}

.edit-profil .input-field label
{
    color: black !important;
}

.edit-profil .input-field input
{
    background: rgba(255, 255, 255, 0.75) !important;
}

/* CONTACT */
.contact-form
{
    background: white;
    padding: 20px !important;
    margin-top: 35px;
    border-radius: 10px;
}

.contact-form h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 25px;
    color: #303f9f;
}

.contact-form-oblig
{
    font-size: 0.8em;
    padding-bottom: 25px;
}

.contact-form .btn
{
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
    margin-top: 25px;
}

.contact-form label
{
    color: black !important;
}

.contact-form input, .contact-form textarea
{
    background: rgba(255, 255, 255, 0.75) !important
}

.contact-form textarea
{
    height: 300px;
    resize: none;
    overflow: auto;
}

.g-recaptcha div:first-of-type
{
    margin: auto;
}

/* =============== ADMIN =================*/
/* NAVIGATION */
ul#admin-dropdown1, ul#admin-dropdown2, ul#admin-dropdown3, ul#admin-dropdown4, ul#admin-dropdown5, ul#admin-dropdown6
{
    margin-top: 64px !important;
    background: linear-gradient(to bottom, #303f9f, #7986cb);
    background:-moz-linear-gradient(to bottom, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to bottom, #303f9f, #7986cb );
    background:-o-linear-gradient(to bottom, #303f9f, #7986cb );
    color: white;
    top: 0 !important;
}

ul#admin-dropdown1 a, ul#admin-dropdown2 a, ul#admin-dropdown3 a, ul#admin-dropdown4 a, ul#admin-dropdown5 a, ul#admin-dropdown6 a
{
    color: white;
}

/* INDEX */

.admin-index-table
{
    margin-top: 100px;
    background: white;
}

.admin-index-table tr
{
    height: 30px;
}

.admin-index-table td, .admin-index-table th
{
    padding: 25px;
}

/* AJOUT */
.admin-form-ajout
{
    background-color: #efebe9;
    padding: 35px 0;
    margin-top: 35px;
}

.admin-form-ajout h1
{
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 35px;
}

.admin-form-ajout label
{
    color: black !important;
}

.admin-form-ajout select
{
    border: 1px solid #424242;
}

.admin-form-ajout input
{
    background-color: white !important;
}

.admin-form-ajout #cke_1_path
{
    display: none;
}

.admin-form-ajout .ck-content
{
    min-height: 150px !important;
    background: rgba(255, 255, 255, 0.75) !important;
}

.admin-form-ajout div button
{
    background: #7cb342;
    margin-top: 35px;
}

/* GESTION */
.admin-gestion-table
{
    margin-top: 35px;
}

.admin-gestion-table tbody tr td
{
    padding-top: 15px !important;
}

/* VIEW ETUDE */
.admin-view-etude
{
    padding-top: 50px !important;
}

/* MODIF ETUDE */
.admin-modif-etude
{
    background: white;
    padding: 20px 15px !important;
    margin-top: 50px;
    border-radius: 10px;
}

/* CONTACT */
.admin-block-contact
{
    background: white;
    padding: 20px 15px !important;
    margin-top: 50px;
    border-radius: 10px;
}

.admin-block-contact p
{
    margin-bottom: 15px;
    line-height: 1.5em;
}

.admin-contact-btn .btn
{
    margin-top: 25px;
    background: linear-gradient(to top, #303f9f, #7986cb);
    background:-moz-linear-gradient(to top, #303f9f, #7986cb );
    background:-webkit-linear-gradient(to top, #303f9f, #7986cb );
    background:-o-linear-gradient(to top, #303f9f, #7986cb );
}

/* ================= RESPONSIVE ==================*/

@media all and (max-width: 1400px){
    .container
    {
        padding: 0;
        width: 100%;
    }

    .nav-wrapper .brand-logo
    {
        font-size: 1em;
    }

    .nav-wrapper ul li a
    {
        font-size: 0.8em;
    }
}

@media all and (max-width: 1024px) {

    /* NAVIGATION */
    .nav-wrapper ul li a
    {
        font-size: 0.65em;
    }

    /* FOOTER */
    .footer-links
    {
        width: 90%;
    }

    /* INDEX */
    .etude-list .etude-img img
    {
        display: none;
    }

    .etude-list p
    {
        font-size: 0.8em;
    }

    .etude-categorie
    {
        top: -2%;
        font-size: 0.9em;
    }

    .etude-list h3
    {
        font-size: 1.2em;
    }

    .last-actu
    {
        margin-top: 25px;
    }


}
@media all and (max-width: 650px){


    /* ETUDE */
    .view-etude-first img
    {
        display: none;
    }

    .view-etude-first .view-etude-main
    {
        padding-left: 0;
    }

    .view-etude-main p
    {
        font-size: 0.8em;
    }

    .view-etude-first .view-etude-main h1
    {
        font-size: 1em;
    }

    .view-etude-sources ul
    {
        margin-left: 0;
    }

    .view-etude-sources ul li a
    {
        font-size: 0.8em;
    }

}

@media screen and (max-height: 575px){
    #rc-imageselect,
    .g-recaptcha {
        transform:scale(0.77);
        transform-origin:0;
        transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform:scale(0.77);
        transform:scale(0.77);
        -webkit-transform-origin:0 0;
        transform-origin:0 0;
    }
}
