/* DIVERS */
select
{
    display: inherit !important;
}

.flash-success
{
    background: #7cb342;
    color: white;
    padding: 25px 0;
    margin-bottom: 30px;
}

body
{
    background: #eceff1;
}

/* CONTAINER */
.container
{
    margin-top: 35px;
    min-height: 80vh !important;
    padding: 40px 30px;
    background: #eceff1;
}

/* NAVIGATION */
nav
{
    background: linear-gradient(to top, #ef6c00, #fdd835 ) !important;
}


.brand-logo
{
    font-family: 'Chewy', cursive;
}

ul#dropdown1, ul#dropdown2
{
    margin-top: 64px !important;
    background: linear-gradient(to bottom, #ef6c00, #fdd835);
}

.nav-titre-reseauxSociaux
{
    height: 50px;
    color: white;
    border-top: 1px solid white;
}

.nav-titre
{
    margin: 0 !important;
    font-size: 1.5em !important;
    position: absolute;
    left: 38%;
}

.navbar-wrapper
{
    position: relative;
}

.nav-wrapper ul li a
{
    max-height: 64px;
}

.nav-wrapper ul li img
{
    max-height: 24px;
    max-width: 24px;
    margin-top: 20px;
}

.nav-follow
{
    margin-left: 15px;
}

/* FOOTER */

.page-footer
{
    background: linear-gradient(to top, #ef6c00, #fdd835 ) !important;
}

.footer-reseaux
{
    margin-bottom: 15px;
}

.footer-reseaux ul li
{
    display: inline-block;
    margin-right: 5px;
}

.footer-reseaux ul li img
{
    max-height: 24px;
    max-width: 24px;
}

.footer-links
{
    width: 15%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.footer-links a
{
    color: white;
}

.footer-links ul
{
    display: flex;
    justify-content: space-between;
}

.footer-copy
{
    padding-bottom: 15px;
}

/* ========= INDEX ============*/
#body-img1 img, #body-img2 img
{
    width: 320px;
    height: 320px;

}

.overview
{
    background: white;
    padding: 0 !important;
    position: relative;

}

.reset
{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.overview-info
{
    background: linear-gradient(to top, rgba(129, 212, 250, 0.5), rgba(225, 245, 254, 0.5));
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 1px 10px 0 black;
}

.overview-info a
{
    color: black;
}

.overview-info a:hover
{
    color: #ef6c00;
}

.overview-info p:first-of-type
{
    font-weight: bold;
}

.overview-text h3
{
    font-size: 1.8em !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.overview-text p
{
    line-height: 1.4em;
    text-align: justify;
    padding-bottom: 20px;
    margin-top: 20px;
}

.overview-text a:nth-child(1)
{
    color: black;
}

.overview-actions .fb-like span
{
   vertical-align: inherit !important;
}

.index-add-btn div > a
{
    background: linear-gradient(to top, #81d4fa, #e1f5fe);
    color: black;
}

.index-add-btn div > a:hover
{
    color: #ef6c00;
}

.index-add-btn div:nth-child(2)
{
    margin-bottom: 25px;
}


.index-categories-titre
{
    background: linear-gradient(to top, rgba(2, 119, 189, 0.5), rgba(41, 182, 246, 0.5));
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 1px 10px 0 black;
    font-weight: bold;
}

.index-categories-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

.index-categories-list a
{
    color: black;
}

.index-categories-list a:hover
{
    color: #ef6c00;
}

.index-lastactu, .index-categories
{
    margin-bottom: 25px;
}

.index-lastactu-date
{
    background: linear-gradient(to top, rgba(239, 108, 0, 0.5), rgba(253, 216, 53, 0.5));
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 1px 10px 0 black;
}

.index-lastactu-titre h3
{
    font-size: 1.4em !important;
    font-weight: bold;
}

.index-lastactu > div:nth-child(1), .index-categories > div:nth-child(1)
{
    background: white;
}

.index-lastactu-texte
{
    text-align: justify;
}

.index-lastactu-texte, .index-lastactu-titre
{
    padding: 10px 5px;
    line-height: 1.4em;
}

.index-lastactu-link
{
    padding: 10px 0 15px 0;
}
/* AJOUT ETUDE */
.proposer-etude-form
{
    background: linear-gradient(to top, rgba(239, 108, 0, 0.5), rgba(253, 216, 53, 0.5));
    padding: 20px !important;
    margin-top: 35px;
}

.proposer-etude-form h1
{
    font-size: 1.8em !important;
    font-weight: bold;
    margin-bottom: 20px !important;
}

.proposer-etude-form input, .proposer-etude-form textarea
{
    background: rgba(255, 255, 255, 0.75) !important;

}

.proposer-etude-form label
{
    color: black !important;
}

.proposer-etude-divider
{
    margin-top: 20px;
    margin-bottom: 20px;
}


.proposer-etude-divider a
{
    background: linear-gradient(to top, #81d4fa, #e1f5fe);
    padding: 5px 10px;
    color: black;
}

.proposer-etude-description p:nth-child(1)
{
    margin-top: 25px;
}

.proposer-etude-description p, .proposer-etude-description ul
{
    margin-bottom: 15px;
    line-height: 1.6em;
    text-align: justify;
}

.proposer-etude-description ul li
{
    list-style-type: initial !important;
    margin-left: 5% !important;
    line-height: 1.6em;
}

.proposer-etude-form .btn
{
    background: linear-gradient(to top, #ef6c00, #fdd835);
}

.proposer-etude-hr
{
    margin-bottom: 25px;
}

#cke_1_path
{
    display: none;
}

.proposer-etude-form .ck-content
{
    min-height: 150px !important;
    background: rgba(255, 255, 255, 0.75) !important;
}

.proposer-etude-bold
{
    font-weight: bold;
}

/* VIEW ETUDE */
.view-etude-refus
{
    padding: 25px 15px !important;
    background: white;
}


.view-etude-refus h3
{
    color: #ef5350;
    font-size: 1.4em !important;
    font-weight: bold;
}

.view-etude-refus p
{
    margin-top: 20px;
}

.refus-remerciement p
{
    font-size: 0.8em;
    font-style: italic;
}

.overview-sources-actions
{
    background: #eceff1;
    padding: 10px 15px !important;
    border: 1px solid rgba(129, 212, 250, 0.5);
    box-shadow: 0 0 10px black inset;
    margin: 10px 0 !important;
}

.overview-sources ul li
{
    margin: 15px 0 15px 25px;

}

.overview-etude-actions .fb-like span
{
    vertical-align: inherit !important;
}

/* ACTUALITE */
.all-actu, .actu
{
    margin-bottom: 25px;
}

.all-actu-date, .actu-date
{
    background: linear-gradient(to top, rgba(239, 108, 0, 0.5), rgba(253, 216, 53, 0.5));
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 1px 10px 0 black;
}

.all-actu-titre h3, .actu-titre h3
{
    font-size: 1.4em !important;
    font-weight: bold;
    padding: 15px 15px 0 15px;
}

.all-actu > div:nth-child(1), .actu > div:nth-child(1)
{
    background: white;
}

.all-actu-texte, .actu-texte
{
    text-align: justify;
    padding: 20px 15px !important;
}

.all-actu-texte, .all-actu-titre, .actu-texte, .actu-titre
{
    padding: 10px 5px;
    line-height: 1.4em;
}

.actu-actions
{
    margin-bottom: 20px;
}

.actu-actions .fb-like span
{
    vertical-align: inherit !important;
}

/* SECURITY */
.security-form
{
    background: linear-gradient(to top, rgba(239, 108, 0, 0.5), rgba(253, 216, 53, 0.5));
    padding: 20px !important;
}

.security-form h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 25px;
}

.security-form-infos
{
    padding: 15px 10px;
}

.security-form-infos p
{
    text-align: justify;
}

.security-form-infos p:nth-child(1)
{
    margin-bottom: 15px;
}

.security-form .input-field
{
    margin-top: 35px !important;
    margin-bottom: 15px;
}

.security-form label
{
    color: black !important;
}

.security-form input
{
    background: rgba(255, 255, 255, 0.75) !important;
}

.security-form .btn
{
    background: linear-gradient(to top, #ef6c00, #fdd835);
}

/* DASHBOARD */
.dashboard-section
{
    padding: 35px !important;
}

.dashboard-section h1
{
    font-size: 2em;
    margin-bottom: 35px;
}

.dashboard-infos
{
    padding: 15px !important;
    margin-right: 15px;
    background: linear-gradient(to top, rgba(239, 108, 0, 0.5), rgba(253, 216, 53, 0.5));
}

.dashboard-infos h2
{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 25px;
}

.dashboard-infos span
{
    font-weight: bold;
    margin-right: 15px;
    text-align: right;
    width: 9rem;
    display: inline-block;
}

.dashboard-infos p
{
    line-height: 1.6em;
}

.dashboard-infos .btn
{
    margin-top: 10px;
    background: linear-gradient(to top, #ef6c00, #fdd835);
}

.dashboard-etudes
{
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 15px !important;
    background: linear-gradient(to top, rgba(239, 108, 0, 0.5), rgba(253, 216, 53, 0.5));
}

.dashboard-etudes h3
{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 25px;
}

.dashboard-etudes-table tbody tr td
{
    padding-top: 15px !important;
}

.etudes-attente
{
    margin-right: 15px !important;
}

.tooltipped:hover
{
    cursor: pointer;
}
/* EDIT PROFIL */
.edit-profil
{
    background: linear-gradient(to top, rgba(239, 108, 0, 0.5), rgba(253, 216, 53, 0.5));
    padding: 25px 15px !important;
}

.edit-profil h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 75px !important;
}

.edit-profil .btn
{
    background: linear-gradient(to top, #ef6c00, #fdd835);
    margin-top: 25px;
}

.edit-profil .input-field
{
    margin-top: 35px;
}

.edit-profil .input-field label
{
    color: black !important;
}

.edit-profil .input-field input
{
    background: rgba(255, 255, 255, 0.75) !important;
}

/* CONTACT */
.contact-form
{
    background: linear-gradient(to top, rgba(239, 108, 0, 0.5), rgba(253, 216, 53, 0.5));
    padding: 20px !important;
    margin-top: 35px;
}

.contact-form h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-form-oblig
{
    font-size: 0.8em;
    padding-bottom: 25px;
}

.contact-form .btn
{
    background: linear-gradient(to top, #ef6c00, #fdd835);
    margin-top: 25px;
}

.contact-form label
{
    color: black !important;
}

.contact-form input, .contact-form textarea
{
    background: rgba(255, 255, 255, 0.75) !important
}

.contact-form textarea
{
    height: 300px;
    resize: none;
    overflow: auto;
}

/* =============== ADMIN =================*/
/* NAVIGATION */
ul#admin-dropdown1, ul#admin-dropdown2, ul#admin-dropdown3, ul#admin-dropdown4
{
    margin-top: 64px !important;
    background: linear-gradient(to bottom, #ef6c00, #fdd835);
    color: white;
}

ul#admin-dropdown1 a, ul#admin-dropdown2 a, ul#admin-dropdown3 a, ul#admin-dropdown4 a
{
    color: white;
}

/* INDEX */

.admin-index-table
{
    margin-top: 100px;
    background: linear-gradient(to top, rgba(129, 212, 250, 0.5), rgba(225, 245, 254, 0.5));
}

.admin-index-table tr
{
    height: 30px;
}

.admin-index-table td, .admin-index-table th
{
    padding: 25px;
}

/* AJOUT */
.admin-form-ajout
{
    background-color: #efebe9;
    padding: 35px 0;
    margin-top: 35px;
}

.admin-form-ajout h1
{
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 35px;
}

.admin-form-ajout label
{
    color: black !important;
}

.admin-form-ajout select
{
    border: 1px solid #424242;
}

.admin-form-ajout input
{
    background-color: white !important;
}

.admin-form-ajout #cke_1_path
{
    display: none;
}

.admin-form-ajout .ck-content
{
    min-height: 150px !important;
    background: rgba(255, 255, 255, 0.75) !important;
}




.admin-form-ajout div button
{
    background: #7cb342;
    margin-top: 35px;
}

/* GESTION */
.admin-gestion-table
{
    margin-top: 35px;
}

.admin-gestion-table tbody tr td
{
    padding-top: 15px !important;
}

/* VIEW ETUDE */
.admin-view-etude
{
    padding-top: 50px !important;
}