<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        h1
        {
            font-size: 1.8em;
            margin-bottom: 20px;
            text-align: center;
        }
        div
        {
            padding: 25px 15px;
        }
        p
        {
            text-align: justify;
            line-height: 1.6em;
        }
    </style>
</head>
<body>
    <div>
        <h1>Message envoyé par <strong>{{ pseudo }}</strong></h1>
    </div>
    <div>
        <p>E-mail : {{ email }}</p>
        <p>Sujet : {{ sujet }}</p>
        <p>Message :</p>
        <p>{{ texte }}</p>
    </div>
</body>
</html>