<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        h1
        {
            font-size: 1.8em;
            margin-bottom: 20px;
            text-align: center;
        }
        div
        {
            padding: 25px 15px;
        }
        p
        {
            text-align: justify;
            line-height: 1.6em;
        }
    </style>
</head>
<body>
<div>
    <h1>Bonjour <strong>{{ user.username }}</strong> !</h1>
</div>
<div>
    <p>Nous avons le plaisir de vous informer que votre étude* vient d'être plubliée !</p>
    <p>*Titre de l'étude : {{ titre }}</p>
    <p>Merci pour votre participation ainsi que pour l'intérêt que vous portez à notre site internet.</p>
</div>
</body>
</html>