<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="{% block metaTitle %}{% endblock %}">
    <meta name="description" content="{% block metaDesc %}{% endblock %}">
    <meta name="keywords" content="{% block metaWords %}{% endblock %}">
    <title>Selon une étude - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% include 'styles.html.twig' %}
    {% endblock %}
    {% block share %}
    {% endblock %}
    <!-- Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8085361958593173",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<header>
    {% include 'nav/nav.html.twig' %}
</header>

<div id="fb-root"></div>
<div class="container">

    {% for message in app.flashes('success') %}
        <div class="flash-success center">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}
    {% endblock %}
</div>
<footer class="page-footer">
    {% include 'nav/footer.html.twig' %}
</footer>

{% block javascripts %}
    {% include 'scripts.html.twig' %}

{% endblock %}

{% block adminScript %}
{% endblock %}
</body>
</html>
