{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="center">Page non trouvée</h1>

    <p>
        La page à laquelle vous essayer d'accéder n'a pas été trouvé. Vérifier que l'url est correcte ou cliquez sur le lien suivant pour <a href="{{ path('index') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}
